.cardfilme {
    display: flex;
    flex-direction: column;
    background: #000000;           
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
  }

  .cardfilme:hover {
    transform: scale(1.07);        
    box-shadow: 0px 0px 18px rgba(106, 106, 106, 0.4); 
  }

  .cardfilme img {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }

  .cardfilme .info {
    padding: 12px;
    background: #636161;
  }
  
  .cardfilme .info h2 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    color: white;
  }
  
  .cardfilme .info p {
    margin-top: 6px;
    color: #3298d8; 
    font-weight: bold;
  }