/* Vitrine estilizada */

.vitrinecontainer {
    width: 100%;
    max-width: 1200px;  
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
    background-color: #000;
  }

  .titulo {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #429fdd;
  }
  
  .cardfilme {
    background: #767676;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(30, 30, 30, 0.4);
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
  }

  .cardfilme:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 25px rgba(255, 255, 255, 0.25);
  }

  .cardfilme img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
  }

  .info {
    padding: 15px;
    color: #fff;
    text-align: left;
  }

  .info h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #ffdd57;
  }

  .info p {
    font-size: 1rem;
    font-weight: bold;
    color: #b6b6b6;
  }

  .gridfilmes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 10px;
  }

  @media (max-width: 480px) {
    .titulo {
      font-size: 1.5rem;
    }
  
    .cardfilme img {
      height: 260px;
    }
  }

  /* Pagina inicial estilizada*/

  .containerPaginaInicial {
    width: 100%;
    min-height: 100vh;
    background-color: #000;          
    color: white; 
    display: flex;
    flex-direction: column;          
    align-items: center;             
    justify-content: flex-start;     
    padding-top: 60px;               
    text-align: center;
  }
  
  
  .logoPaginaInicial {
    width: 200px;                    
    margin-bottom: 20px;
  }
  
  
  .containerPaginaInicial h1 {
    font-size: 28px;
    max-width: 600px;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  
  .containerPaginaInicial p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 30px;
  }
  
  
  .containerPaginaInicial form {
    width: 100%;
    max-width: 420px;               
  }

/* pagina sobre */

.sobre-container {
    padding: 20px;
    color: white;
}

.cards-sobre {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.card-sobre {
    width: 260px;
    border: 3px solid #00bfff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.card-sobre img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card-sobre p {
    margin-top: 10px;
    color: #00bfff;
}
  
  .img-theo {
  height: 380px;   
  object-fit: cover;
  object-position: top; 
}

.sobre-container {
  padding: 20px;
  color: white;
  text-align: center; 
}

.voltarvitrine {
  display: block;
  margin: 0 auto;      
  margin-bottom: 20px; 
  color: #00bfff;
  text-decoration: none;
  font-size: 18px;
}

.sobre-container h1 {
  text-align: center;  
  color: #00bfff;
}

.card-sobre {
    width: 260px;
    border: 3px solid #00bfff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease; 
}

.card-sobre:hover {
    transform: scale(1.05); 
}

/* Estilização da pagina de detalhes */

.detalhescontainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4)),
}

.detalhescontainer img {
  grid-column: 2;
  grid-row: 1 / 4;
  max-width: 100%;
  height: auto;
  border: 3px solid #29a3ff;
  border-radius: 6px;
  object-fit: contain;
  background: #000;
  display: block; 
}

.detalhescontainer h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.detalhescontainer p {
  max-width: 700px;
  font-size: 1.2rem;
  margin-top: 20px;
  line-height: 1.6;
}

.detalhescontainer button {
  margin-top: 20px;
  width: 240px;
  padding: 15px 25px;
  font-size: 1.2rem;
  font-weight: bold;
  background: #01b4e4;
  color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.detalhescontainer button:hover {
  background: #00d0ff;
  transform: scale(1.05);
}

.btnvoltarvitrine {
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 18px;
  width: max-content;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 40px;
  transition: .3s;
}

.btnvoltarvitrine:hover {
  background: rgba(255, 255, 255, 0.2);
}



@media (max-width: 900px) {
  .detalhescontainer {
    padding: 30px;
  }

  .detalhescontainer h1 {
    font-size: 2.3rem;
  }

  .detalhescontainer p {
    font-size: 1rem;
    max-width: 90%;
  }

  .detalhescontainer button {
    width: 200px;
    font-size: 1rem;
  }
}
